/*footer*/
footer{
  width: 100%;
  height: auto;
  background-color: var(--main-background-color);
}
/* footer - layout */
footer .footer-sec{
  display: flex;
  justify-content: center;
}
footer .footer-sec .footer-inner{
  flex: 0 0 1400px;
}
footer .top-footer{
  border-bottom: 1px solid #ccc;
}
footer .top-footer .top-inner ul{
  display: flex;
  justify-content: space-between;
}
footer .top-footer .top-inner ul li{
  line-height: 40px;
}
footer .top-footer .top-inner ul li a{
  font-size: 0.875rem;
}
footer .bottom-footer{
  padding: 20px 0;
}
footer .bottom-footer .bottom-inner{
  display: flex;
  justify-content: space-between;
}
footer .bottom-footer .bottom-inner .kepco-info{
  display: flex;
  gap: 40px;
}
footer .bottom-footer .bottom-inner .kepco-info .kepco-logo{
  flex: 0 0 140px;
}
footer .bottom-footer .bottom-inner .kepco-info .kepco-logo img{
  width: 100%;
  height: auto;
  display: block;
}
footer .bottom-footer .bottom-inner .kepco-info address{
  font-style: normal;
}
footer .bottom-footer .bottom-inner .kepco-info address p{
  font-size: 0.875rem;
}
footer .bottom-footer .bottom-inner .mark{
  display: flex;
  gap: 10px;
}
footer .bottom-footer .bottom-inner .mark a{
  display: block;
}
footer .bottom-footer .bottom-inner .mark img{
  display: block;
}