/* layout */
main{
  width: 100%;
  height: auto;
  background-color: var(--main-background-color);
}
main section:not(.sec1){
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
main section .sec-inner{
  flex: 0 0 1400px;
}
/* common*/
.title{
  display: flex;
  justify-content: center;
}
.title h2{
  margin-right: 10px;
}
.title .btn{
  width: 48px;
  height: 48px;
  background-image: url("../../img/plus.svg");
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: no-repeat;
}
.title .btn:hover{
  background-position: -48px 0px;
  cursor: pointer;
}
.carousel{
  width: 100%;
  position: relative;
  margin: 40px 0 0;
}
.carousel .arrow-btn{
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  background: url("../../img/arrow.svg") no-repeat center / auto;
  cursor: pointer;
}
.carousel .arrow-btn.left{
  left: -60px;
  transform: translateY(-50%);
}
.carousel .arrow-btn.right{
  right: -60px;
  transform: translateY(-50%) scaleX(-1);
}
.carousel .carousel-frame{
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.carousel .carousel-frame ul.carousel-con{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}
/* section1 - main banner */
.sec1{
  width: 100%;
  height: auto;
}
.sec1 .main-banner{
  width: 100%;
  height: 800px;
  position: relative;
}
.sec1 .main-banner h2{
  display: none;
}
.sec1 .main-banner .banner-img{
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
}
.sec1 .main-banner .banner-img ul{
  width: 100%;
  height: inherit;
}
.sec1 .main-banner .banner-img ul li{
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.visible{
  visibility: visible !important;
  opacity: 1 !important;
}
.sec1 .main-banner .bcon{
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 16px;
  left: 0;
  display: flex;
  justify-content: center;
}
.sec1 .main-banner .bcon ul{
  flex: 0 0 120px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-radius: 24px;
  background-color: #00000046;
}
.sec1 .main-banner .bcon ul li{
  flex: 0 0 32px;
  height: 32px;
  background-image: url("../../img/play.svg");
  cursor: pointer;
}
.sec1 .main-banner .bcon ul li:nth-child(1){
  background-position: 0px 0px;
}
.sec1 .main-banner .bcon ul li:nth-child(2){
  background-position: 64px 0px;
}
.sec1 .main-banner .bcon ul li:nth-child(3){
  background-position: 96px 0px;
}
.sec1 .main-banner .bcon ul li:nth-child(4){
  background-position: 32px 0;
}
.replay{
  display: none !important;
}
/*section 2 - game schedule*/
.sec2 .sec-inner .carousel{
  height: 440px;
}
.sec2 .sec-inner .carousel .carousel-frame ul.carousel-con{
  width: calc(320px * 12 + 40px * 11);
  gap: 40px;
}
.sec2 .sec-inner .carousel .carousel-frame ul.carousel-con li{
  flex:  0 0 320px;
  border-top: 5px solid #f00;
  padding: 40px;
  background-color: rgb(255, 255, 255);
}
.sec2 .sec-inner .carousel .carousel-frame ul.carousel-con li p.round{
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}
.sec2 .sec-inner .carousel .carousel-frame ul.carousel-con li .gameday{
  margin: 40px 0;
}
.sec2 .sec-inner .carousel .carousel-frame ul.carousel-con li .gameday .date{
  text-align: center;
  line-height: 32px;
  font-weight: 700;
  font-size: 18px;
  font-family: var(--ibm-font);
}
.sec2 .sec-inner .carousel .carousel-frame ul.carousel-con li .gameday .place{
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: var(--txt2-color);
}
.sec2 .sec-inner .carousel .carousel-frame ul.carousel-con li .emblem{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec2 .sec-inner .carousel .carousel-frame ul.carousel-con li .emblem>div{
  flex: 0 0 100px;
}
.sec2 .sec-inner .carousel .carousel-frame ul.carousel-con li .emblem img{
  display: block;
  width: 100%;
  height: auto;
}
.sec2 .sec-inner .carousel .carousel-frame ul.carousel-con li .emblem .verse{
  flex: 0 0 40px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.sec2 .sec-inner .carousel .carousel-frame ul.carousel-con li .team{
  display: flex;
  justify-content: space-between;
}
.sec2 .sec-inner .carousel .carousel-frame ul.carousel-con li .team .score{
  flex: 0 0 100px;
  text-align: center;
  margin: 20px 0;
}
.sec2 .sec-inner .carousel .carousel-frame ul.carousel-con li .team .score .team-name{
  font-weight: 700;
  font-family: var(--ibm-font);
  line-height: 40px;
  text-align: center;
}
.sec2 .sec-inner .carousel .carousel-frame ul.carousel-con li .team .score .team-score{
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  font-family: var(--ibm-font);
  text-align: center;
}
/* section3 - game gallery */
.sec3 .sec-inner .photo-gallery{
  margin: 40px 0 0;
}
.sec3Animation{
  animation: sec3Ani 1s ease-in-out;
}
@keyframes sec3Ani{
  from{
    transform: translateY(200px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
.sec3 .sec-inner .photo-gallery ul{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, minmax(200px, auto));
  grid-auto-rows: minmax(200px, auto);
  gap: 5px;
}
.sec3 .sec-inner .photo-gallery ul li{
  background-color: rgb(255, 255, 255);
}
.sec3 .sec-inner .photo-gallery ul li:nth-child(1){
  grid-area: 1/1/4/3;
}
.sec3 .sec-inner .photo-gallery ul li:nth-child(2){
  grid-area: 1/3/2/5;
}
.sec3 .sec-inner .photo-gallery ul li:nth-child(3){
  grid-area: 1/5/2/6;
}
.sec3 .sec-inner .photo-gallery ul li:nth-child(4){
  grid-area: 1/6/3/7;
}
.sec3 .sec-inner .photo-gallery ul li:nth-child(5){
  grid-area: 2/3/3/4;
}
.sec3 .sec-inner .photo-gallery ul li:nth-child(6){
  grid-area: 2/4/4/6;
}
.sec3 .sec-inner .photo-gallery ul li:nth-child(7){
  grid-area: 3/3/4/4;
}
.sec3 .sec-inner .photo-gallery ul li:nth-child(8){
  grid-area: 3/6/4/7;
}
.sec3 .sec-inner .photo-gallery ul li .gallery-img{
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.sec3 .sec-inner .photo-gallery ul li .gallery-img:hover{
  opacity: 1;
  cursor: pointer;
}
.sec3 .sec-inner .light-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.466);
}
.lightBoxOn{
  height: 100vh !important;
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 90;
}
.sec3 .sec-inner .light-box .box-inner{
  flex: 0 0 800px;
  height: auto;
}
.sec3 .sec-inner .light-box .box-inner .out-btn{
  width: 48px;
  height: 48px;
  margin: 0 auto 40px;
  background-image: url("../../img/close.svg");
  background-position: 0px 0px;
  background-size: auto;
  cursor: pointer;
}
.sec3 .sec-inner .light-box .box-inner .out-btn:hover{
  background-position: 48px 0px;
}
.sec3 .sec-inner .light-box .box-inner .box-con{
  width: 100%;
  height: 700px;
  position: relative;
  top: 0;
  left: 0;
  background-color: #000;
}
.sec3 .sec-inner .light-box .box-inner .box-con ul{
  width: 100%;
  height: inherit;
  position: absolute;
  left: 0;
  top: 0;
}
.sec3 .sec-inner .light-box .box-inner .box-con ul li{
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
}
.sec3 .sec-inner .light-box .box-inner .box-con .arrow-btn{
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.sec3 .sec-inner .light-box .box-inner .box-con .arrow-btn span.sec3arrow{
  width: 30px;
  height: 30px;
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  cursor: pointer;
}
.sec3 .sec-inner .light-box .box-inner .box-con .arrow-btn span.sec3arrow.left{
  transform: rotate(225deg);
}
.sec3 .sec-inner .light-box .box-inner .box-con .arrow-btn span.sec3arrow.right{
  transform: rotate(45deg);
}
.sec3 .sec-inner .light-box .box-inner .box-con a{
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 40px;
  padding: 20px 0;
}
/* section4 - player info */
.sec4 .sec-inner .carousel{
  height: 404px;
  margin: 40px 0 0;
}
.sec4 .sec-inner .carousel .carousel-frame ul.carousel-con{
  width: 2820px;
  height: inherit;
  justify-content: space-between;
  gap: 20px;
}
.sec4 .sec-inner .carousel .carousel-frame ul.carousel-con li{
  flex: 0 0 264px;
  height: inherit;
  transform: scale(0.8);
  opacity: 0.6;
}
.sec4 .sec-inner .carousel .carousel-frame ul.carousel-con li.sec4Animation{
  transform: scale(1) !important;
  opacity: 1 !important;
}
.sec4 .sec-inner .carousel .carousel-frame ul.carousel-con li a{
  display: block;
  width: 100%;
  height: inherit;
  position: relative;
}
.sec4 .sec-inner .carousel .carousel-frame ul.carousel-con li a img{
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.sec4 .sec-inner .carousel .carousel-frame ul.carousel-con li a span.player-name{
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: -30px;
  left: 0;
  text-align: center;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 32px;
  font-family: var(--ibm-font);
}
.sec4 .sec-inner .carousel .carousel-frame ul.carousel-con li.sec4Animation a span.player-name{
  bottom: 0 !important;
  font-style: italic;
  font-weight: 700;
  background-color: #f4f4f493;
  padding: 8px 0;
}
/* section5 - md */
.sec5{
  background-color: #fff;
}
.sec5 .md-con{
  display: flex;
  gap: 40px;
  margin: 40px 0 0;
}
.sec5 .md-con a{
  width: 100%;
  background-color: var(--main-background-color);
}
.sec5 .md-con .best-product{
  flex: 0 0 440px;
}
.sec5 .md-con .best-product a{
  height: 920px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sec5 .md-con .last-product{
  flex: 0 0 calc(100% - 440px);
}
.sec5 .md-con .last-product ul{
  width: 100%;
  height: auto;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.sec5 .md-con .last-product ul li{
  flex: 0 0 440px;
}
.sec5 .md-con a, img , span{
  display: block;
  width: 100%;
}
.sec5 .md-con .last-product a{
  padding: 32px 80px;
  min-height: 440px;
}
.sec5 .md-con a span.best-badge{
  margin: 0 auto 40px;
  width: 58px;
  height: 38px;
  background-color: var(--primary-color);
  border-radius: 20px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 38px;
  font-weight: 500;
}
.sec5 .md-con a img{
  width: 100%;
  height: auto;
}
.sec5 .md-con a span.product-name{
  margin: 16px 0 8px;
  line-height: 22px;
  font-size: 14px;
}
.sec5 .md-con a span.product-price{
  font-weight: 700;
  font-family: var(--ibm-font);
}
/* section6 - sns */
.sec6{
  width: 100%;
  height: auto;
  background-color: #fff;
}
.sec6 .sec-inner{
  padding: 0 0 80px;
}
.sec6 .sec-inner ul.sns{
  margin: 40px 0 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.sec6 .sec-inner ul.sns li{
  flex: 0 0 320px;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-background-color);
}
.sec6 .sec-inner ul.sns li img{
  width: 40%;
  height: auto;
  display: block;
}
.sec6 .sec-inner ul.sns li a{
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
  font-family: var(--ibm-font);
}