/* sub1_container */
main{
  width: 100%;
  height: auto;
  padding: 60px 0;
}
/* section.section1 */
main section.section1{
  width: 1400px;
  height: auto;
  margin: 0 auto;
}
main section.section1 .sec-con{
  width: 100%;
  height: auto;
}
main section.section1 .sec-con h2{
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
}
main section.section1 .sec-con::after{
  content: '';
  display: block;
  clear: both;
}
main section.section1 .sec-con .home-img{
  width: 536px;
  height: auto;
  float: left;
  margin-right: 40px;
  border-radius: 25px;
  overflow: hidden;
}
main section.section1 .sec-con .home-img img{
  width: 100%;
  height: auto;
  display: block;
}
main section.section1 .sec-con .home-map{
  width: 824px;
  height: 536px;
  float: left;
  border-radius: 25px;
  overflow: hidden;
}
/* section.section2 */
main section.section2{
  width: 1400px;
  height: auto;
  margin: 0 auto;
}
main section.section2 .sec-con{
  width: 100%;
  height: auto;
  padding: 40px 0;
}
main section.section2 .sec-con h2{
  display: none;
}
main section.section2 .sec-con ul{
  display: flex;
  flex-wrap: wrap;
  gap: 0 40px;
  padding: 0 10px;
  box-sizing: border-box;
}
main section.section2 .sec-con ul li{
  display: flex;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
}
main section.section2 .sec-con ul li.narrow{
  flex: 0 0 536px;
}
main section.section2 .sec-con ul li.wide{
  flex: 0 0 800px;
}
main section.section2 .sec-con ul li::before{
  content: '';
  display: block;
  width: 3px;
  height: 15px;
  background-color: #f00;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
} 
main section.section2 .sec-con ul li p{
  line-height: 40px;
}
main section.section2 .sec-con ul li p.title{
  flex: 0 0 100px;
  font-weight: 700;
  padding: 0 10px;
  box-sizing: border-box;
}
main section.section2 .sec-con ul li.wide p.con{
  flex: 0 1 700px;
}
main section.section2 .sec-con ul li.narrow p.con{
  flex: 0 1 416px;
}