main{
  width: 100%;
  height: auto;
  padding: 60px 0;
}
/* section.section1 */
main section.section1{
  width: 1400px;
  height: auto;
  margin: 0 auto;
}
main section.section1 h2{
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
}
main section.section1 .sec-con{
  width: 100%;
  height: auto;
}
main section.section1 .sec-con::after{
  content: '';
  display: block;
  clear: both;
}
main section.section1 .sec-con .home-img{
  width: 536px;
  height: auto;
  float: left;
  margin-right: 40px;
  border-radius: 25px;
  overflow: hidden;
}
main section.section1 .sec-con .home-img img{
  width: 100%;
  height: auto;
  display: block;
}
main section.section1 .sec-con .home-map{
  width: 824px;
  height: 536px;
  float: left;
  border-radius: 25px;
  overflow: hidden;
}
/* section.section2 */
main section.section2{
  width: 1400px;
  height: auto;
  margin: 0 auto;
}
main section.section2 h2{
  display: none;
}
main section.section2 .sec-con{
  width: 100%;
  height: auto;
  padding: 40px 0;
}
main section.section2 .sec-con ul{
  padding: 0 10px;
  box-sizing: border-box;
}
main section.section2 .sec-con ul li{
  width: 536px;
  margin: 0 40px 20px 0;
  display: inline-block;
  position: relative;
}
main section.section2 .sec-con ul li span{
  line-height: 30px;
}
main section.section2 .sec-con ul li span.title::before{
  content: '';
  display: block;
  width: 3px;
  height: 20px;
  background-color: #f00;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
main section.section2 .sec-con ul li span.title{
  font-weight: 700;
  padding: 0 10px;
  box-sizing: border-box;
}