/* sub5_container */
main {
  width: 100%;
  height: auto;
}
main section {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
main  section .inner-container {
  flex: 0 0 1240px;
}
main  section .inner-container table,thead,tbody,tr {
  border: none;
}
main  section .inner-container table {
  width: 100%;
  border: none;
  text-align: center;
}
main  section .inner-container table colgroup col.col1 {
  width: 80px;
}
main  section .inner-container table colgroup col.col2 {
  width: 150px;
}
main  section .inner-container table colgroup col.col3 {
  width: 100px;
}
main  section .inner-container table caption {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
}
main  section .inner-container table thead tr th {
  border-top: 3px solid #f00;
  border-bottom: 2px solid #ccc;
  border-left: none;
  border-right: none;
  padding: 15px 0;
}
main  section .inner-container table tbody tr td {
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  padding: 12px 0;
  box-sizing: border-box;
  font-size: 0.875rem;
  font-weight: 400;
}
main  section .inner-container table tbody tr:hover {
  background-color: var(--main-background-color);
}
main  section .inner-container .search-form{
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
main  section .inner-container .search-form form{
  flex: 0 0 330px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main  section .inner-container .search-form form select{
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: inherit;
}
main  section .inner-container .search-form form input[type="text"]{
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: inherit;
  padding: 0 10px;
  box-sizing: border-box;
}
main  section .inner-container .search-form form input[type="submit"]{
  display: inline-block;
  height: inherit;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
  background-color: var(--main-background-color);
}
main  section .inner-container .paging {
  width: 100%;
  padding: 20px 0 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
main  section .inner-container .paging a {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 30px;
}
main  section .inner-container .paging a:hover {
  background-color: var(--main-background-color);
}