/* layout */
section {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
section .sec-inner {
  flex: 0 0 1240px;
}
/* table */
section .sec-inner table,thead,tbody,tr {
  border: none;
}
section .sec-inner table {
  width: 100%;
  border: none;
  text-align: center;
}
section .sec-inner table colgroup col.col1 {
  width: 80px;
}
section .sec-inner table colgroup col.col2 {
  width: 150px;
}
section .sec-inner table colgroup col.col3 {
  width: 100px;
}
section .sec-inner table caption {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
}
section .sec-inner table thead tr th {
  border-top: 3px solid #f00;
  border-bottom: 2px solid #ccc;
  border-left: none;
  border-right: none;
  padding: 15px 0;
}
section .sec-inner table tbody tr td {
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  padding: 12px 0;
  box-sizing: border-box;
  font-size: 0.875rem;
  font-weight: 400;
}
section .sec-inner table tbody tr:hover {
  background-color: var(--main-background-color);
}
/*search*/
section .sec-inner .search-form{
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
section .sec-inner .search-form form{
  flex: 0 0 332px;
  /* height: 30px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .sec-inner .search-form form .select-box{
  flex: 0 0 86px;
}
section .sec-inner .search-form form .select-box select{
  display: block;
  width: 100%;
  height: 28px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 32px;
  font-size: 14px;
}
section .sec-inner .search-form form .input-box{
  flex: 0 0 190px;
}
section .sec-inner .search-form form .input-box input{
  display: block;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: inherit;
  padding: 0 10px;
  box-sizing: border-box;
  line-height: 28px;
  font-size: 14px;
}
section .sec-inner .search-form form button{
  flex: 0 0 48px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
  background-color: var(--main-background-color);
  line-height: 28px;
  font-size: 14px;
  font-weight: 500;
}
section .sec-inner .paging {
  width: 100%;
  padding: 20px 0 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
section .sec-inner .paging a {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 30px;
}
section .sec-inner .paging a:hover {
  background-color: var(--main-background-color);
}